/* UNIQUE MEDIA PAGE GRID */
.media-section-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.2rem;
    width: 90%;
    margin: 2rem auto 4rem auto;
}

/* UNIQUE CARD STYLE */
.media-section-card {
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.08);
    padding-bottom: 1rem;
}


.media-section-card img,
.media-section-card video {
    width: 100%;
    height: 260px;
    object-fit: cover;
}


.media-section-card h3 {
    margin: 1rem;
    font-family: "Playfair Display", serif;
    font-size: 1.4rem;
}


.media-section-card p {
    margin: 0 1rem 1rem 1rem;
    line-height: 1.35;
}


.media-section-see-more {
    color: #901b22;
    font-weight: 700;
    cursor: pointer;
}


.media-section-video-card video {
    height: 260px;
    border-bottom: 3px solid #901b22;
}

/* MOBILE RESPONSIVE */
@media (max-width: 900px) {
    .media-section-grid {
        grid-template-columns: 1fr;
    }

    .media-section-card img,
    .media-section-card video {
        height: 220px;
    }
}
