:root {
  --deep-crimson: #901b22;
  --serif: "Playfair Display", serif;
  --sans: "Inter", sans-serif;
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Arial, sans-serif;
}
.top-nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  align-items: center;

  background: #901b22;   
  color: rgb(255, 255, 255);

  position: sticky;
  
  z-index: 10;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}

body {
background: #f6f6f6;
color: #2b2b2b;
}


header {
width: 100%;
padding: 16px 24px;
display: flex;
align-items: center;
justify-content: space-between;
background: #ffffff;
border-bottom: 1px solid #e1e1e1;
}

.nav-left a {
  margin-right: 1rem;
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.nav-left a:hover {
  opacity: 0.85;
}

.nav-logo .circle {
  width: 45px;
  height: 45px;
  background: #ccc;
  border-radius: 50%;
}


.hero {
  position: relative;
  overflow: hidden;
  margin-top: 0.5rem;
}

.hero img {
  width: 100%;
  height: 260px;         
  object-fit: cover;
  background: #ddd;
}
.hero-text {
  position: absolute;
  bottom: 20px;
  text-align: center;
  width: 100%;

  font-family: var(--serif);
  font-size: 1.2rem;
  color: #444;
}
.feature-row {
  display: flex;
  gap: 1rem;
  padding: 1.5rem 2rem;
}
.feature-card {
  flex: 1;
  background: #901b22;        
  border-radius: 4px;
  overflow: hidden;
}
.feature-card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}
.feature-content {
  padding: 1rem;
  text-align: center;
}
.feature-content.right {
  padding-top: 2.5rem;
}
.feature-content h2 {
  margin: 0;
  font-family: var(--serif);
}
.btn {
  display: inline-block;
  margin-top: 0.8rem;
  padding: .5rem 1.2rem;
  border: 1px solid #bcbcbc;
  border-radius: 12px;
  text-decoration: none;
  color: #d8d2d2;
}
.wide-banner img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  background: #ccc;
  margin-top: 1rem;
}
footer {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  background: #f0f0f0;
}

.footer-left .brand {
  margin: 0;
  font-family: var(--serif);
  font-size: 1.5rem;
}

.footer-left .brand span {
  font-weight: 400;
}

.small {
  font-size: 0.9rem;
  color: #555;
}

.footer-right {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.footer-right a {
  text-decoration: none;
  color: #333;
  margin-bottom: 0.3rem;
}

/* MOBILE */
@media (max-width: 800px) {
  .feature-row {
    flex-direction: column;
  }
  footer {
    flex-direction: column;
    gap: 1rem;
    text-align: left;
  }
  .footer-right {
    text-align: left;
  }
}